/* fonts */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero {
    height: 100vh;
    background: url(./hero.jpeg) center/cover no-repeat;

    display: grid;
    place-items: center;
    text-align: center;
}

/* .hero-overlay {
    background-color: rgba(46, 222, 249, 0.7);
    z-index: 10;
    background-blend-mode: overlay;
} */

.banner {
    background-color: white;
    padding: 4.5rem 0;
    width: 90vw;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.modal-title {
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.modal-btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgb(114, 225, 255);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-overlay {
    background-color: rgba(114, 225, 255, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    transition: 300ms;
    visibility: hidden;
    z-index: -10;
}


/* OPEN or CLOSE modal */
.open-modal {
    visibility: visible;
    z-index: 10;
}

.modal-container {
    background-color: white;
    width: 90vw;
    height: 30vh;
    display: grid;
    place-items: center;
    position: relative;
}


.modal-content {
    text-transform: capitalize;
    letter-spacing: 2px;
}

.close-btn {
    padding: 0 3px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1rem;
    cursor: pointer;
}

.close-btn:hover {
    background-color: rgb(153, 232, 254);
    color: white;
}

/* media queries */
@media screen and (min-width:768px) {
    .banner {
        /* background-color: white; */
        /* padding: 4.5rem 0; */
        width: 70vw;
        /* border-radius: 5px; */
        /* display: grid; */
        /* place-items: center; */
    }

    .modal-container {
        /* background-color: white; */
        width: 70vw;
        /* height: 30vh; */
        /* display: grid;
            place-items: center;
            position: relative; */
    }
}